* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#menu{
  padding-top: 5px;
}
#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  padding-top: 15px;
  width: 100vw;
  z-index: 10;
  border-bottom: 5px solid rgb(28, 121, 184);
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  margin-right: 37px;
  margin-top: -2px;
  text-align: right;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  
  font-weight:bold;
  font-size:15px;

  transition: all 0.5s ease;
}
